@{
	ViewData["Title"] = "address";
}

<h1>address</h1>
<select id="citySelect"></select>
<select id="siteSelect"></select>
<select id="roadSelect"></select>
@section Scripts{
	<script>
		const citySelect = document.querySelector("#citySelect");
		const siteSelect = document.querySelector("#siteSelect");
		const roadSelect = document.querySelector("#roadSelect");

		cityLoad();

		//async await 語法
		async function cityLoad() {
			//fetch
			//fetch("@Url.Content("~/Test/city")")
			//.then(response => response.json())
			//.then(city => {
			//   const cityOpts = city.map(value => `<option value="${value}">${value}</option>`)
			//   citySelect.innerHTML = cityOpts.join("")
			//});

			//async await
			const f = await fetch("@Url.Content("~/Test/city")");
			const response = await f.json();
			const cityOpts = response.map(value => `<option value="${value}">${value}</option>`);
			citySelect.innerHTML = cityOpts.join("");
			console.log(response);

			siteLoad();
			roadLoad();
			//XmlHttpRequest語法
			//const xhr = new XMLHttpRequest();

			//xhr.addEventListener("load", () => {

			//	const datas = JSON.parse(xhr.responseText);
			//	//console.log(datas);
			//	const cityOption = datas.map((value) => {
			//		return `<option value="${value}">${value}</option>`;
			//	})
			//	citySelect.innerHTML = cityOption.join("");

			//	//載入資料時執行下列function
			//	siteLoad();
			//	roadLoad();
			//})

			//xhr.open("GET", "@Url.Content("~/Test/city")");
			//xhr.send();
		}
		function siteLoad() {
			fetch(`@Url.Content("~/Test/site?city=${citySelect.options[citySelect.selectedIndex].value}")`)
			.then(response=>response.json())
				.then(city => {
					const cityOpts = city.map(value => `<option value="${value}">${value}</option>`);
					siteSelect.innerHTML = cityOpts.join("");
			})

			//const xhr = new XMLHttpRequest();
			//xhr.addEventListener("load", () => {
			//	const datas = JSON.parse(xhr.responseText);
			//	const siteOption = datas.map((value) => {
			//		return `<option value=${value}>${value}</option>`;
			//	})
			//	siteSelect.innerHTML = siteOption.join("");

			//	roadLoad();
			//})

			//xhr.open("GET", `@Url.Content("~/Test/site?city=${citySelect.options[citySelect.selectedIndex].value}")`);
			//xhr.send();
		}
		function roadLoad() {
			const xhr = new XMLHttpRequest();
			xhr.addEventListener("load", () => {
				const datas = JSON.parse(xhr.responseText);
				const roadOption = datas.map((value) => {
					return `<option value=${value}>${value}</option>`;
				})
				roadSelect.innerHTML = roadOption.join("");
			})

			xhr.open("GET", `@Url.Content("~/Test/road?site=${siteSelect.options[siteSelect.selectedIndex].value}")`);
			xhr.send();
		}

		citySelect.addEventListener("click", () => { siteLoad(); });
		siteSelect.addEventListener("click", () => { roadLoad(); });

	</script>
}