@{
	ViewData["Title"] = "List";
}

@section Styles{
	<!-- CSS only -->

	<style>
		* {
			margin: 5px;
			box-sizing: border-box;
		}

		a {
			font-size: 10px;
		}

		.display {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			padding: 15px;
		}

		.cardDiv {
			width: 450px;
			height: 200px;
			margin: 15px;
			text-align: center;
			padding: 10px 0px;
		}

		.text {
			font-size: 10px;
			color: gray;
			text-overflow: ellipsis;
		}

		.textDiv {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 4;
		}
	</style>

}
<h1 class="m-4">桃園觀光景點</h1>
<input type="text" id="keyword" class="w-75 m-4" />
<div class="display"></div>

@section Scripts{
	<script>
		$.getScript("/js/travel.js", function travelList(_datas) {

			const div = $(".display");

const txt = document.querySelector("#keyword");
				txt.addEventListener("keyup", () => {
					let result = DATAS.filter(d => d.Name.indexOf(txt.value) !== -1);
				})
			list(DATAS);
				console.log(data)

				function list(_datas) {
				const { Name, Toldescribe, Website, Add, TYWebsite } = _datas;
				return `<div class= "card cardDiv">
							<h5 class= "card-title"> ${Name}</h5>
							<h6 class="card-subtitle mb-2 text-muted"> ${Add}</h6>
							 <div class="textDiv">
							  <p class="text" style="max-length:50"> ${Toldescribe}</p>
							 </div>
							<a href = "#" class="card-link">${Website} </a>
							<a href = "#" class="card-link">${TYWebsite}</a>
						</div>`
			}
			div.append(data.join(""));
		});

	</script>
}

